/* =============================

    諛뺣낫��
    Copryright 2016 Chungchuy.com

    - 移쇰씪 寃щ낯 -
    #fb6464 / rgb(251, 100, 100) - light red
    #6699ff - light blue

 ============================= */

@charset "euc-kr";

/* Layout */
#wrap {
    position: relative;
	height: 100%;
}
#wrap, #header, #nav, #calendar-wrap, #shortcuts,
#self-study, #question, #awards, #footer, #content-wrap {
    width: 100%;
    min-width: 1000px;
}
#header > div, #nav > ul, #shortcuts > div,
#self-study > div, #question > div, #awards > div, #footer > div {
    width:1000px;
    margin: 0 auto;
}

    /* �대뵫�대깽�� */
    #elsd-banner {
        width: 100%;
        min-width: 1000px;


        background: #fc8383;
    }

        #elsd-banner > div {
            width: 1000px;
            height: 100px;
            margin: 0 auto;
			position: relative;

        }

            .elsd-banner-title h1 {
                padding: 15px 0 0 0;

                font-size: 40px;
                line-height: 1;
                text-align:center;
                letter-spacing: -0.6px;
                color: #fff;
            }
                .elsd-banner-title h1 .d-day-font{
                    color: #FFF612;
                }
            .elsd-banner-title h3 {
                padding: 20px 0 0 0;

                font-size: 25px;
                line-height: 1;
                text-align:center;
                letter-spacing: -0.6px;
                color: #fff;
            }
            .elsd-btn {
                margin: 18px 0 0 0;
            }
                .elsd-btn a {
                    display: inline-block;
                    width: 164px;
                    height: 35px;

                    color: #fff;
                    font-size: 16px;
                    line-height: 33px;

                }
                .elsd-btn a:hover {
                    color: #fb6464;
                }

            .elsd-banner-close {
                position: absolute;
				right: 0;
				bottom: 13px;
            }
                .elsd-banner-close a {
                    display: inline-block;
                    width: 12px;
                    height: 12px;

                    background: url(/public_html/resource/images/common/icn-x.png) no-repeat;

                    font-size: 12px;
                    color: #222;
                }
                .elsd-banner-close label {
                    font-size: 14px;
                    margin-left: 4px;
                }

.elsd-banner-title.time h1 {
	padding: 15px 0 0 50px;
	font-size: 40px;
	position: relative;
}
.elsd-banner-title.time h1::before {
	left: 172px;
	top: 10px;
	position: absolute;
	display: block;
	width: 52px;
	height: 49px;
	content: "";
	background: url(/public_html/resource/images/sub/banner-time.png) no-repeat;
}
.elsd-banner-title.time h2 {
	padding-top: 8px;
	color: #fff;
	font-size: 16px;
}


    /* header */
    #header > div {
        overflow: hidden;
        display: flex;
        justify-content: space-between;
    }
    .logo {
        float: left;
        width: 235px;
        height: 80px;
    }
    .logo a {
        display: block;
    }
    .notice {
        float: left;
        width: 418px;
		/*width: 472px;*/
        height: 64px;
        margin: 16px 30px 0 30px;

        text-align: left;

        overflow: hidden;
    }
        .notice ul.ntc-rolling {
           /*  width: 388px; */
		   width: 93%;
            /* height: 58px; */
            float: left;
            position : relative;
            overflow: hidden;
        }
        .notice ul.ntc-rolling li {
            height: 24px;
            margin-bottom: 9px;
        }
            .notice ul.ntc-rolling li span {
                display: inline-block;
                width: 43px;
                height: 20px;
                margin-right: 8px;
                vertical-align: top;

                border-radius: 10px;
                -moz-border-radius: 10px;
                -webkit-border-radius: 10px;

                background: #fb6464;

                color: #fff;
                font-size: 12px;
                line-height: 20px;
                text-align: center;
            }
            .notice ul.ntc-rolling li a {
                display: inline-block;
            }
            .notice ul.ntc-rolling li a.notice-list:hover {
                color: #222;
            }
            .notice ul.ntc-rolling li a.notice-list {
                /* width: 333px; */
				width: 382px;

                font-size: 13px;
                line-height: 20px;
                color: #666;
            }
        .notice ul.ntc-btn {
            float: right;
            width: 30px;
        }
            .notice ul.ntc-btn li a.ntc {
                width: 11px;
                height: 20px;
                margin-left: 19px;
                margin-bottom: 9px;
                display: block;
            }
            .notice ul.ntc-btn li a.notice-up {
                background-position: -37px -28px;
            }
            .notice ul.ntc-btn li a.notice-down {
                background-position: -58px -26px;
            }
            .notice ul.ntc-btn li a.notice-up:hover {
                background-position: -37px -43px;
            }
            .notice ul.ntc-btn li a.notice-down:hover {
                background-position: -58px -41px;
            }
    .header-cont {
        display: flex;
        height: 80px;
        overflow: hidden;
    }
        .photo-wrap {
            position: relative;
            width: 49px;
            height: 49px;
            margin-top: 16px;
        }
            .mask {
                position: absolute;
                width: 49px;
                height: 49px;

                background: url(/public_html/resource/images/common/mask.png) transparent no-repeat;
            }
        .profile {
			text-align:left;
            margin: 27px 0 0 10px;
        }
            .profile h2 {
                width: 75px;
                font-size: 16px;
                line-height: 1;
                color: #222;
            }
            .profile a {
                margin-top: 7px;

                font-size: 9px;
                line-height: 1;
                color: #4fc3d4;
            }
            .profile a:hover {
                color: #228290;
            }
        .message {
            position: relative;
        }
            .message a {
                display: inline-block;
                width: 25px;
                height: 24px;

                margin: 30px 28px 0 0;

                background-position: -33px -64px;
            }
            .message-count {
                position: absolute;
                left: 13px;
                top: 18px;

                width: auto;
                height: 18px;

                border-radius: 18px;
                -moz-border-radius: 18px;
                -webkit-border-radius: 18px;

                background: #fff;


            }
                .message-count span {
                    display: block;
                    margin: 2px;
                    padding: 0 4px;
                    min-width: 14px;
                    width: auto;
                    height: 14px;

                    border-radius: 14px;
                    -moz-border-radius: 14px;
                    -webkit-border-radius: 14px;

                    background: #6699ff;

                    font-size: 10px;
                    line-height: 14px;
                    text-align: center;
                    color: #fff;
                }
		.chat {
			float: left;
		}
		.chat a {
			display: inline-block;

			width: 27px;
			height: 24px;

			margin: 30px 26px 0 0;

			background-position: -33px -127px;

		}
        .logout {
            width: 46px;
            height: 26px;
            float: left;

            margin-top: 27px;

            background-position: -33px -96px;
        }


    a.icn_pay {
        display: block;
        margin: 27px 26px 0 0;
        width: 43px;
        height: 30px;
        background-image: url(/public_html/resource/images/common/icn_pay.png);
        background-position: 0;
        background-repeat: no-repeat;
    }

    /* nav */
    #nav {
        border-top: 1px solid #efefef;
        border-bottom: 1px solid #efefef;
        height: 60px;
    }
        #nav li {
            overflow: hidden;
        }
            #nav li a {
                display: inline-block;
                width: 20%;
                float: left;

                text-align: center;
                color: #222;
                font-size: 18px;
                line-height: 58px;
            }
            #nav li a:hover, #nav li a.nav-act {
                color: #fb6464;
            }
    /* �앹뾽 */
    #popup {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

        #popup > a {
            display: block;
            float: right;
            width: 36px;
            height: 45px;
            border-left: 1px solid #dadee7;
            border-right: 1px solid #dadee7;
            border-bottom: 1px solid #dadee7;
            background: url(/public_html/resource/images/sub/popup-toggle.png) #fff 9px -12px no-repeat;
        }
        div.popup-wrap {
            position: relative;
            width: 100%;
            height: 100%;
            background: #454552;
            overflow: hidden;
            padding: 15px 9px;
        }
            .popup-wrap h2 {
                float: left;

                font-size: 16px;
                line-height: 16px;
                color: #fff;
            }
            .popup-close {
                float: right;
                display: inline-block;
                margin-top:  2px;
                width: 16px;
                height: 11px;
                background: url(/public_html/resource/images/sub/popup-toggle.png) 0 0 no-repeat;
            }
            div.popup-wrap ul {
                /* margin-top: 30px; */
                /* background: url(/public_html/resource/images/cal/bg-jan.png) no-repeat;
                background: url(/public_html/resource/images/cal/bg-feb.png) no-repeat;
                background: url(/public_html/resource/images/cal/bg-mar.png) no-repeat;
                background: url(/public_html/resource/images/cal/bg-apr.png) no-repeat;
                background: url(/public_html/resource/images/cal/bg-may.png) no-repeat;
                background: url(/public_html/resource/images/cal/bg-jun.png) no-repeat;
                background: url(/public_html/resource/images/cal/bg-jul.png) no-repeat;
                background: url(/public_html/resource/images/cal/bg-aug.png) no-repeat;
                background: url(/public_html/resource/images/cal/bg-sep.png) no-repeat;
                background: url(/public_html/resource/images/cal/bg-oct.png) no-repeat;
                background: url(/public_html/resource/images/cal/bg-nov.png) no-repeat;
                background: url(/public_html/resource/images/cal/bg-dec.png) no-repeat; */

                margin-top: 30px;
                height: 90%;
                background: #fff;
                overflow: auto;
            }
                div.popup-wrap ul li {
                    padding: 22px 20px;
                    border-bottom: 5px solid #454552;
                    font-size: 18px;
                    line-height: 21px;
                    text-align: left;
                }
                div.popup-wrap ul li:last-child {
                    border-bottom: 0 none;
                }
            a.today-close {
                display: block;
                margin: 15px 0 0 0;
                float: right;
                color: #fff;
                font-size: 16px;
                line-height: 16px;
            }
                a.today-close span.spr-x {
                    display: inline-block;
                    margin-left: 11px;
                    width: 13px;
                    height: 13px;

                    background-position: 0 0;
                }

    /* footer */
    #footer {
        padding: 22px 0 22px 0;

        background: #464646;
    }
            .footer-link {
                float: right;
                margin-top: 20px;
                overflow: hidden;
            }
                .footer-link a {
                    display: inline-block;
                    width: 104px;
                    height: 37px;
                    margin-left: 10px;
                    float: left;

                    background: #fb6464;

                    color: #fff;
                    font-size: 14px;
                    line-height: 37px;
                }

            .footer {
                float: left;

                text-align: left;
            }
                .footer span {
                    display: block;
                    font-size: 14px;
                    line-height: 1;
                    font-weight: 100;
                    color: #fff;
                }
                .footer > div {
                    overflow: hidden;

                }
                    .footer h1 {
                        margin-top: 1px;
                        float: left;
                        font-size: 46px;
                        line-height: 1;
                        letter-spacing: 1px;
                        color: #fff;
                    }

                    .footer > div > div.operating-time {
                        overflow: hidden;
                        display: inline-block;
                        margin: 9px 0 0 17px;

                        color: #fff;
                        font-size: 14px;
                        line-height: 1;
                        font-weight: 500;
                    }
                        div.operating-time > div {
                            float: left;
                        }
                        .slash {
                            padding: 0 15px;
                        }
                        .timeout {
                            clear: both;
                            padding-top: 8px;
                            color: #fb6464;
                            font-weight: 500;
                        }
                        .timeout span {
                            display: inline-block;
                            color: #fb6464;
                            font-weight: 500;
                            line-height: 1.3;
                            vertical-align: top;
                        }
				.footer	p {
					padding-top: 20px;
					color: #fff;
				    font-weight: 300;
				}

        #copy {
            display: inline-block;
            clear: both;
            margin-top: 15px;
            padding-top: 18px;
            width: 1000px;
            border-top: 1px solid #6b6b6b;

            font-size: 12px;
            line-height: 1;
            text-align: left;
            letter-spacing: 2px;
            color: #fff;
        }



        /* �듬찓�� */
        #calendar-wrap #quick-menu {
            top: 313px;
        }
        #content-wrap #quick-menu {
            top: 248px;
        }
        #quick-menu {
            position: fixed;

            left: 50%;
            margin-left: 540px;
            margin-top: 70px;
            width: 120px;
            z-index: 19;
        }
            #quick-menu li {
                display: block;

                overflow: hidden;
            }
            #quick-menu li > a {
                display: block;
                padding-left: 6px;
                width: 120px;
                border-left: 1px solid #efefef;
                border-right: 1px solid #efefef;
                background: #fff;
                float: left;
                text-align: left;
            }
            #quick-menu li > a > span {
                display: inline-block;
                margin: 0 6px 0 0;
                width: 22px;
                height: 19px;
                vertical-align: middle;
            }
            .quick-img {
                width: 120px;
                height: 54px;
                background-image: url(/public_html/resource/images/common/sprite-quick.png);
                background-repeat: no-repeat;
            }
            /* �듬찓�� 罹먮┃��  */
            .q-jan {
                background-position: 0 0;
            }
            .q-feb {
                background-position: 0 -54px;
            }
            .q-mar {
                background-position: 0 -108px;
            }
            .q-apr {
                background-position: 0 -162px;
            }
            .q-may {
                background-position: 0 -216px;
            }
            .q-jun {
                background-position: 0 -270px;
            }
            .q-jul {
                background-position: 0 -324px;
            }
            .q-aug {
                background-position: 0 -378px;
            }
            .q-sep  {
                background-position: 0 -432px;
            }
            .q-oct {
                background-position: 0 -486px;
            }
            .q-nov {
                background-position: 0 -540px;
            }
            .q-dec {
                background-position: 0 -594px;
            }

            .quick-elsd {
                padding: 10px 0;
				padding-left: 0 !important;
                border: 1px solid #efefef;
                font-size: 13px;
                line-height: 15px;
                text-align: center !important;
				background: #fff;
            }
				#quick-menu li.quick-elsd span {
					display: block;
					width: 77px;
					height: 22px;
					line-height: 20px;
					border-radius: 22px;
					-moz-border-radius: 22px;
					-webkit-border-radius: 22px;
					margin: 5px auto;
					background: #6699ff;
					color: #fff;
					font-size: 16px;
				}
				#quick-menu li.quick-elsd em {
					display: block;
					font-size: 12px;
				}
			 .quick-chat {
				padding-top: 5px;
                height: 38px;
                font-size: 13px;
                line-height: 30px;
            }
            .quick-remote, a.quick-remote:hover {
                height: 33px;
                border-left: 1px solid #6699ff !important;
                border-right: 1px solid #6699ff !important;
                background: #6699ff !important;
                color: #fff;
                font-size: 13px;
                line-height: 33px;
            }
            .quick-question {
                padding: 7px 0;
                height: 46px;
                font-size: 13px;
                line-height: 15px;
                overflow: hidden;
            }
            .quick-question > span.question-2row {
                float: left;
                width: 78px !important;
            }
            .quick-award {
                position: relative;
                height: 33px;
                font-size: 13px;
                line-height: 30px;
            }
            .quick-award > div.message-count {
                left: 59px;
                top: 6px;
            }
            .quick-notice {
                height: 33px;
                font-size: 13px;
                line-height: 30px;
            }
			 .quick-chat span.spr-com {
                background-position: -2px -128px;
            }
            .quick-remote span.spr-com {
                background-position: -2px -32px;
            }
            .quick-question span.spr-com {
                float: left;
                background-position: -2px -56px;
            }
            .quick-award span.spr-com {
                background-position: -2px -79px;
            }
            .quick-notice span.spr-com {
                background-position: -2px -104px;
            }
        a.quick-top {
            height: 26px;
            border-left: 1px solid #6699ff !important;
            border-right: 1px solid #6699ff !important;
            background: #6699ff !important;
            color: #fff;
            text-align: center !important;
            font-size: 12px;
            line-height: 26px;
        }

        #quick-menu img {
            width:120px;
            height:auto;
            padding-top: 10px;
        }


    /* 而⑦뀗痢� */
    #content-wrap {
        padding-top: 45px;
    }

    /* select */

    .select-style {
        position: relative;
        margin-top: 35px;
        width: 284px;
        height: 50px;
        background-image: url(/public_html/resource/images/sub/select-arrow.png);
        background-position: 258px center;
        background-repeat: no-repeat;
        border: 1px solid #ebeced;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        font-size: 16px;
        line-height: 20px;
        color: #222;

    }
    .select-style label, .label-trick {
        position: absolute;
        top: -24px;
        left: 0px;
        font-size: 16px;
        line-height: 16px;
        text-align: left;
        color: #222;
    }
    .select-style label.lable-in {
        top: 16px;
        left: 20px;
    }
    select.select-arrow {
        width: 100%;
        height: 50px;
        min-height: 50px;
        line-height: 50px;
        padding: 0 20px;
        font-size: 16px;
        line-height: 20px;
        color: #222;

        /* appearance:none;
        -webkit-appearance:none;

        outline: none;*/
        opacity: 0;
        filter: alpha(opacity=0);  /* IE 8 */

        cursor: pointer;
    }


    .statistics {
        margin-top: 45px;
        margin-bottom: 70px;
        padding: 35px 50px 45px;
        border: 1px solid #fafafb;
    }
    .statistics h1 {
        padding-top: 10px;
        font-size: 27px;
        line-height: 1;
        float: left;
        width: 162px;
    }

    .statistics .select-style {
        float: right;

        margin-top: 0;

    }
    .statistics .pv-year {
        width: 99px;
        background-position: 77px center;
    }
    .statistics .pv-month {
        width: 81px;
        margin-left: 20px;
        background-position: 59px center;
    }


/* //Layout */


/******* 紐⑤뱢 *******/

    /* �띿뒪�� 而щ윭 */
    .blue-bold {
        color: #6699ff;
        font-family: 'Noto Sans';
    }
	.red-font {color: #fb6464;}
    /* 踰꾪듉 而щ윭 */
    .darkgray {
        background-color: #424448;
        color: #fff;
    }
    .gray {
        background-color: #a0a1a3;
        color: #fff;
    }
    .lightgray {
        background-color: #fafafb;
        color: #222;
    }
    .lightgray {
        background-color: #fafafb;
        color: #222;
    }
	.red {
        background-color: #fb6464;
        color: #fff;
    }
    .blue-line {
        border: 1px solid #6699ff;
        background: #fff;
        color: #6699ff;
    }
    .blue-line:hover {
        background: #6699ff;
        color: #fff;
    }
    .red-line {
        border: 1px solid #fb6464;
        background: #fff;
        color: #fb6464;
    }
    .red-line:hover {
        background: #fb6464;
        color: #fff;
    }

    /* 蹂대뜑 議곗젙 */
    .br0 {
        border-right: 0 none !important;
    }



    /* sprite = spr */
    .spr-com {
        background-image: url(/public_html/resource/images/common/sprite-common.png);
        background-repeat: no-repeat;
    }
    .spr-sub {
        background-image: url(/public_html/resource/images/common/sprite-sub.png);
        background-repeat: no-repeat;
    }
    .spr-today {
        background-image: url(/public_html/resource/images/cal/sprite-today.png);
        background-repeat: no-repeat;
    }
    .spr-tsl {
        background-image: url(/public_html/resource/images/sub/cal-sprite-tsl.png);
        background-repeat: no-repeat;
    } /* today study layer */
    .spr-cut {
        background-image: url(/public_html/resource/images/sub/sprite-cut.png);
        background-repeat: no-repeat;
    }
    .spr-x {
        background-image: url(/public_html/resource/images/common/sprite-x.png);
        background-repeat: no-repeat;
    }
    .spr-point {
        background-image: url(/public_html/resource/images/sub/sprite-point.png);
        background-repeat: no-repeat;
    }
    .spr-search {
        background-image: url(/public_html/resource/images/common/icn-search.png);
        background-repeat: no-repeat;
        display: inline-block;
        margin: 4px 3px 4px 6px;
        width: 21px;
        height: 19px;
        vertical-align: top;
    }
    #btnSearch {
      float: left;
      margin-left: -1px;
      padding-right: 8px;
      height: 28px;
      line-height: 26px;
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
    }

    /* �좎쭨 */
    .date-wrap {
        overflow: hidden;
    }
        .date, .date-arrow, .date-menu {
            float: left;
        }
        .cal-class {
            float: right;
        }
        .date {
            margin-right: 20px;
            line-height: 28px;

            font-size: 27px;
            color: #222;
        }
        .date-arrow li a {
            display: block;
            width: 24px;
            height: 28px;

            border-top: 1px solid #dadee7;
            border-left: 1px solid #dadee7;
            border-bottom: 1px solid #dadee7;

            background-position: -1px -1px;
        }
        .date-arrow li a.date-right {
            background-position: -25px -1px;
        }
        .date-arrow li a:hover {
            background-color: #f3f8fa;
        }
        .date-menu li a,
        .date-menu li select {
            display: block;
            width: 95px;
            height: 28px;

            border-top: 1px solid #dadee7;
            border-left: 1px solid #dadee7;
            border-bottom: 1px solid #dadee7;

            font-size: 14px;
            line-height: 26px;
        }
        .date-menu li a.onReview {
            background-color: #6699ff;
            color: #FFFFFF;
        }
        /*
        .date-menu li:first-child a {
            border-right: 0;
        }
        */
        .li-alone {
            border-right: 1px solid #dadee7;
        }
        .date-menu ul {
            border-right: 1px solid #dadee7;
        }
        .date-menu li a:hover,
        .date-menu li a.date-act{
            background: #f3f8fa;
        }
        .date-menu li a.onReview:hover {
            background-color: #5b8ae7;
        }
        .graph a {
            display: block;
            padding-right: 8px;
            width: auto;
            height: 28px;

            border: 1px solid #dadee7;

            font-size: 14px;
            line-height: 26px;
            text-align: left;
        }
        .graph a:hover {
            background: #f3f8fa;
        }
        .graph a span.spr-sub {
            display: inline-block;
            margin: 4px 6px 4px 9px;
            width: 21px;
            height: 18px;
            background-position: -90px -139px;
            vertical-align: top;
        }
        .date-menu input {
            border-top: 1px solid #dadee7;
            border-right: 0;
            border-bottom: 1px solid #dadee7;
            border-left: 1px solid #dadee7;
            font-size: 14px;
        }
    .popup-date {
        margin: 45px 15px;
    }


    /* 踰꾪듉 */
    .btn-line {
        border: 1px solid #fff;

        background: transparent;
        background-color: rgba( 255,255,255,0 );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorStr=#00ffffff, endColorStr=#00ffffff );
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorStr=#00ffffff, endColorStr=#00ffffff )";
    }
    .btn-line:hover {
        background-color: #fff;
    }

    .blank {
        margin-left: 20px;
    } /* �щ갚 */

    .md-indent {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    } /* 湲��� �덈낫�닿쾶 */

    .opa30 {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE 8 */
       filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30); /* IE 7 and olders */
       opacity: .3;
    } /* �щ챸�� 30 */

    .ellipsis {
        overflow:hidden;
        white-space:nowrap;
        text-overflow:ellipsis;
        -o-text-overflow:ellipsis;
        -ms-text-overflow:ellipsis;
    } /* 留먯쨪�� */

    /* float 紐⑤뱢 */
    .md-float-li {
        position: relative;
        /* overflow: hidden; */
    }
        .md-float-li li {
            float: left;
        }

    .md-float-li:after { /* 2017-02-06 異붽� */
        display: block;
        visibility: hidden;
        content: ".";
        clear: both;
        height: 0;
    }

    /* �꾨줈媛�湲� 踰꾪듉 */
    #top-arrow div a {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 50%;
        margin-left: 540px;
        display: block;
        width: 50px;
        height: 40px;

        background: url(/public_html/resource/images/common/top-arrow.png) center center #464646 no-repeat;
    }

    /* �섏씠吏� */
    /*
    .paging {
        display: inline-block;
        overflow: hidden;
        text-align: center;

    }
        .paging > div, .paging > ul {
            float: left;
        }
        .paging a {
            display: block;
            width: 34px;
            height: 34px;
            border: 1px solid #e0e0e0;
            font-size: 14px;
            line-height: 32px;
            color: #666;
        }
        .paging a:hover, .p-act {
            background-color: #7c9cff;
            background-position-y: -35px;
            color: #fff !important;
            border: 1px solid #7c9cff !important;
        }
        .paging > div > a {
            background-image: url(/public_html/resource/images/common/sprite-paging.png);
            background-repeat: no-repeat;
        }
        .paging > ul {
            margin: 0 7px 0 9px;
        }
            .paging > ul a {
                margin-right: 4px;
            }
        a.p-aarow-l {
            background-position: -1px -1px;
            margin-right: 4px;
        }
        a.p-arow-l {
            background-position: -36px -1px;
        }
        a.p-arow-r {
            background-position: -69px -1px;
            margin-right: 4px;
        }
        a.p-aarow-r {
            background-position: -103px -1px;
        }
    */
    .dataTables_paginate {
        display: inline-block;
        overflow: hidden;
        text-align: center;

        }.dataTables_paginate > div, .dataTables_paginate > ul {
            float: left;
        }
        div.dataTables_paginate a, div.dataTables_paginate span {
            float: left;
        }
        div.dataTables_paginate span {
            margin: 0 7px 0 9px;
            display: inline-block;
        }
        .dataTables_paginate a {
            display: block;
            width: 34px;
            height: 34px;
            border: 1px solid #e0e0e0;
            font-size: 14px;
            line-height: 32px;
            color: #666;
            margin-right: 4px;
        }
        .dataTables_paginate a:hover, .paginate_active {
            background-color: #7c9cff;
            background-position-y: -35px;
            color: #fff !important;
            border: 1px solid #7c9cff !important;
        }
        .dataTables_paginate > a {
            background-image: url(/public_html/resource/images/common/sprite-paging.png);
            background-repeat: no-repeat;
        }
        a.first {
            background-position: -1px -1px;
            margin-right: 4px;
        }
        a.previous {
            background-position: -36px -1px;
        }
        a.next {
            background-position: -69px -1px;
            margin-right: 4px;
        }
        a.last {
            background-position: -103px -1px;
        }
    /* //�섏씠吏� */

    .bg-white {
        background: #fff;
    }

    /* �앹뾽 */

    /* �앹뾽 ���댄� */
    .popup-title {
        width: 100%;
        height: 45px;
        background: #fb6464;
        overflow: hidden;
    }
        .popup-title h2 {
            padding-left: 15px;
            color: #fff;
            font-size: 18px;
            line-height: 45px;
            float: left;
        }
        .popup-title a {
            display: inline-block;
            float: right;
        }
        a.tsClose {
            display: block;
            margin-top: 29px;
            width: 13px;
            height: 13px;

            background-position: 0 -17px;
        }
        .popup-title a.tsClose {
            margin-top: 16px;
            margin-right: 15px;
        }

    /* �쇱씠�� �듭븞, �쇱씠�� �먮낯 wrap */
    .popup-wrap-v2 {
        width: 507px;
        padding: 45px;
    }
        .p-wrting-title {
            text-align: left;
            font-size: 27px;
            line-height: 1;
            padding-bottom: 17px;
        }
        .writing-answer {
            text-align: left;
            padding: 25px;
            border: 1px solid #d6d6d6;
            height: 440px;
            overflow-y: scroll;
        }
        .writing-original {
            text-align: left;
            padding: 25px;
            border: 1px solid #d6d6d6;
            height: 164px;
            overflow-y: scroll;
        }
        .w-o-kor {
            margin-bottom: 70px;
        }

    /* �뚯썙蹂댁뭅�� �덈꺼�뺣낫蹂닿린 �앹뾽 wrap */
    .popup-wrap-v3 {
        width: 980px;
        padding: 45px;
    }
        .popup-wrap-v3 table {
            width: 100%;
            margin: 0;
            border-top: 2px solid #fb6464;
        }
        .popup-wrap-v3 table.his-table tbody tr {
            line-height: inherit;
            font-size: 14px;
        }
        .popup-wrap-v3 table.his-table tbody tr td {
            border-right: 1px solid #d6d6d6;
        }
        .popup-wrap-v3 table.his-table tbody tr td.lv-tb-last {
            border-right: 0 none;
            text-align: left;
            padding: 3px 20px;
        }
        .lv1-bg {
            background: #fffafa;
        }
        .lv2-bg {
            background: #fff7f7;
        }
        .lv3-bg {
            background: #ffefef;
        }
        .lv4-bg {
            background: #fee8e8;
        }
        .lv5-bg {
            background: #fee0e0;
        }

    /* �숈뒿�됯� 寃곌낵 �뺤씤 2017-02-24 異붽� */
    div.popup-wrap-v4 {
        width: 507px;
    }
    .ans-count {
        margin-bottom: 20px;
        border: 1px solid #d6d6d6;
    }
    .ans-count li {
        width: 33.33333333333333%;
        margin: 25px 0;
        border-right: 1px solid #d6d6d6;
    }
    span.icn-question {
        display: block;
        margin: 0 auto;
        width: 36px;
        height: 36px;
        background-position: 0 -80px;
    }
    span.icn-answer {
        display: block;
        margin: 0 auto;
        width: 36px;
        height: 36px;
        background-position: 0 -120px;
    }
    span.icn-score {
        display: block;
        margin: 0 auto;
        width: 36px;
        height: 36px;
        background-position: 0 -160px;
    }
    .ans-count h3 {
        padding-top: 10px;
        line-height: 1;
    }
    .ans-count h3 span {
        display: inline-block;
        padding-top: 15px;
        font-size: 24px;
    }
    div.popup-wrap-v4 .his-table thead tr {
        height: 45px;
        line-height: 45px;
    }
    div.popup-wrap-v4 .his-table tbody tr {
        height: 40px;
    }
    div.popup-wrap-v4 .his-table tbody tr.changePwTr {
        height: 60px;
    }

    td.result-td {
        background: #fbfbfb;
        color: #222;
    }
    .exam-o {
        width: 18px !important;
        background-position: -85px -48px;
    }
    .exam-x {
        width: 18px !important;
        background-position: -108px -48px;
    }
    /* //�앹뾽 */

/******* //紐⑤뱢 *******/

/* monthpicker style */
.monthPicker { font-family: Verdana, Dotum, Gulim; font-size: 11px; letter-spacing:-1px; width:400px; height: 110px; border: solid 3px  #e3d1cf; display: none; }
.monthPicker .year { text-align:center; padding:12px; }
.monthPicker a {cursor:pointer;}
.monthPicker span a { border: solid 1px  #ebebeb; padding: 0 2px; height: 20px; font-size: 10px; color: #bfbfbf; text-decoration:none }
.monthPicker span a:hover,
.monthPicker span a:focus { border: solid 1px #c5e7f8; color: #24a1e2; background-color:#f1f9fd }
.monthPicker strong { font-size: 14px; margin: 0 20px; }
.monthPicker ul { padding:0 0 0 19px; margin:0px;list-style:none;}
.monthPicker ul li { float:left; }
.monthPicker ul li a {width:45px; padding:5px;   text-align:center; float:left;border: solid 1px  #ebebeb; margin:2px; text-decoration:none ; color: #666666; }
.monthPicker ul li a:hover,
.monthPicker ul li a:focus { border: solid 1px #c5e7f8; color: #24a1e2; font-weight:bold; background-color:#f1f9fd;  }


/* �곹깭 */
.is-show {display:block !important}
.is-hide {display:none}
/* // �곹깭 */

/* layer1 border-radius �κ렐 紐⑥꽌由� ie9 �댁긽留� 吏��� */
div.layer1 { border-radius:15px; background-color:#fff; border:6px solid #6d84db; margin:0px; padding:5px; overflow:auto; line-height: 18px; }
div.layer2 { background-color:#fff; border:6px solid #6d84db; margin:0px; padding:5px; overflow:auto; line-height: 18px; }
div.layer3 { border-radius:15px; background-color:#fff; border:6px solid #6d84db; margin:0px; padding:5px; overflow:scroll; line-height: 18px; }

.date-menu li select::-ms-expand {
    display: block;            /* �붿궡�� �놁븷湲� for IE10, 11*/
}

a.remote {
    color: #5468b6 !important;
    font-weight: 900;
}

/* 250715 open popup */
.openPop:has(.openPop-wrap){
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    z-index: 9999;
}

.openPop:has(.openPop-wrap) .openPop-top{
    position: relative;
    padding: 36px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background-color: #2957FF;

    &::before{
        content: "";
        position: absolute;
        transform: translateX(-50%) rotate(45deg);
        left: 50%;
        bottom: -12px;
        display: block;
        width: 30px;
        height: 30px;
        background-color: #2957FF;
    }
}

.openPop:has(.openPop-wrap) .openPop-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding: 42px 36px;
    background-color: #ffffff;
}

.openPop:has(.openPop-wrap) .openPop-wrap img{
    width: 100px;
    height: 100px;
}

.openPop:has(.openPop-wrap) .openPop-wrap .text{
    padding-bottom: 0;
    font-size: 18px;
    letter-spacing: -0.025em;
}

.openPop:has(.openPop-wrap) .openPop-wrap .text b{
    color: #FF769D;
}

.openPop:has(.openPop-wrap) .openPop-wrap .pill-btn{
    padding: 16px 24px;
    border-radius: 100px;
    background-color: #2957FF;
    color: #ffffff;
    font-size: 18px;
    letter-spacing: -0.025em;
    cursor: pointer;
}

.openPop:has(.openPop-wrap) .btn-wrap{
    display: flex;
    width: 100%;
}

.openPop:has(.openPop-wrap) .btn-wrap button{
    width: 100%;
    padding: 18px;
    background-color: #000;
    color: #fff;
    border: 0;
    cursor: pointer;
}

.openPop:has(.openPop-wrap) .btn-wrap button:first-child{
    border-bottom-left-radius: 30px;
}

.openPop:has(.openPop-wrap) .btn-wrap button:last-child{
    border-bottom-right-radius: 30px;
}
/* 250715 open popup end */