@media screen and (max-width: 1600px) {
    :root {
        --gap: 24px;
        --padding: 24px;
        --radius: 10px;
    }

    .contents-wrap {
        padding: 30px;
    }

    .contents-wrap .inner .calendar-wrap .calendar>ul.cell>li ul li .point span {
        align-items: center;
        gap: 2px;

        &::after {
            width: 10px;
            height: 10px;
        }
    }

    .contents-wrap .inner .assignments-wrap {
        padding-bottom: 30px;
    }

    .contents-wrap .inner .assignments-wrap .blue-box .flex:has(.slide-controller) {
        justify-content: flex-start;
    }

    .contents-wrap .inner .assignments-wrap .box .tab-in-tab {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        width: 100%;
    }
}

@media screen and (max-width: 1440px) {
    :root {
        --gap: 24px;
        --padding: 24px;
        --font-s: 1.3rem;
        --font-r: 1.4rem;
        --font-l: 1.6rem;
        --font-v: 1.8rem;
    }

    .table tr :where(th, td) {
        &.num {
            width: 25px;
        }

        &.date {
            width: 72px;
        }
    }

    .table-wrap .table:not(.read) {
        min-width: 900px;
    }

    .popup.choice-learning .table,
    .popup.assignment table {
        min-width: inherit;
    }

    .popup.assignment table tr {
        padding: 8px;
        gap: 8px;
    }

    .contents-wrap .inner .calendar-wrap {
        min-width: 574px;
    }

    .contents-wrap .inner .calendar-wrap .calendar>ul>li {
        font-size: 1.3rem;
    }

    .inner.point-ranking .tab-contents .user-data {
        width: 50%;
    }
}

@media screen and (max-width: 1360px) {
    .btn.arrow {
        width: 32px;
        height: 32px;
        background-size: 20px;
    }

    .slide-controller {
        gap: 4px;
    }

    .tab-in-tab {
        margin-bottom: 10px;
    }

    header {
        width: 300px;
    }

    header .logo {
        height: 36px;
    }

    header .util .my-data .thumb {
        width: 48px;
        height: 48px;
    }

    header .util .my-data p {
        font-size: 1.8rem;
    }

    .slide-controller .num {
        font-size: 2.6rem;
    }

    .contents-wrap .inner .calendar-wrap {
        min-width: 520px;
    }

    .contents-wrap .inner .calendar-wrap .calendar>ul.cell>li {
        height: 86px;
    }

    .contents-wrap .inner .calendar-wrap .calendar>ul.cell>li button {
        font-size: 1.2rem;
    }

    .contents-wrap .inner .calendar-wrap .calendar>ul.cell>li ul li {
        padding: 0px 4px;
    }

    .contents-wrap .inner .assignments-wrap .box .flex:has(.slide-controller) {
        margin-bottom: 12px;
    }

    .contents-wrap .inner .assignments-wrap .box .slide-controller .num {
        font-size: 2.4rem;
    }

    .contents-wrap .inner .assignments-wrap .box .slide-controller .arrow {
        width: 32px;
        height: 32px;
        background-size: 20px;
    }

    .contents-wrap .inner .assignments-wrap .blue-box .class-name {
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .contents-wrap .inner .assignments-wrap .blue-box .assignments-list li {
        flex-direction: column;
    }

    .contents-wrap .inner .assignments-wrap .blue-box .assignments-list li .btn {
        margin-left: auto;
    }

    .contents-wrap .inner .assignments-wrap .blue-box .assignments-list li .btn {
        width: auto;
        padding: 14px 28px;
    }
}

@media screen and (max-width: 1280px) {
    .wrap {
        flex-direction: column;
    }

    header {
        width: 100%;
        background-color: var(--color-white);
        box-shadow: 0px 4px 8px var(--color-shadow);
    }

    header .util,
    header nav,
    header .btn-wrap,
    header .header-bottom {
        display: none;
    }

    .contents-wrap .inner .assignments-wrap {
        padding-bottom: 0;
    }

    .page-title .title {
        margin-bottom: 18px;
        font-size: 2.4rem;
    }

    .m-icn-menu {
        display: block;
    }
}

@media screen and (max-width: 1024px) {
    :root {
        --gap: 18px;
        --padding: 18px;
    }

    header .logo {
        height: 26px;
    }

    .contents-wrap .inner .assignments-wrap {
        gap: 18px;
    }

    .contents-wrap .inner .assignments-wrap .blue-box .assignments-list li {
        padding-left: 4px;
        border-left: 3px solid var(--color-L);
    }

    .tab ul {
        gap: 8px;
    }

    .tab ul li button {
        padding: 10px;
        font-size: var(--font-r);
    }

    .page-title .blue-box {
        align-items: flex-start;
        gap: 12px;
    }

    .page-title .blue-box {
        padding: 12px;
    }

    .box-icn {
        width: 36px;
        height: 36px;
    }

    .popup.letter .read .title {
        font-size: var(--font-v);
        font-weight: 700;
    }

    .contents-wrap .inner .calendar-wrap .calendar-top .go-today {
        padding: 0;
        border: none;
        font-size: var(--font-s);
        color: var(--color-main);
    }

    .category {
        gap: 8px;
    }

    .contents-wrap .inner .assignments-wrap .blue-box .assignments-list li .btn {
        padding: 12px 26px;
        border-radius: 8px;
    }

    .contents-wrap .inner.loarding img:nth-child(1) {
        height: 38px;
    }

    .inner.loarding img:nth-child(2) {
        max-width: 100%;
        height: 140px;
    }

    .inner.loarding .range {
        height: 6px;
    }

    .page-controller-wrap {
        flex-direction: column;
    }

    .page-controller a p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        -webkit-line-clamp: 1;
    }

    .page-controller-wrap .btn {
        width: 100%;
        max-width: 540px;
    }

    .inner.qna .tab {
        overflow: auto;
    }

    .inner.qna .tab ul li {
        max-width: inherit;
        width: auto;
    }

    .inner.qna .tab ul li .btn {
        padding: 10px 20px;
    }

    .inner.qna>ul li .btn .arrow {
        width: 28px;
        height: 28px;
        font-size: 24px;
    }

    footer>.flex {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 0;
    }

    footer>.flex:first-child ul:first-child li {
        row-gap: 2px;
        flex-wrap: wrap;
    }

    footer .flex .direct a {
        display: block;
        margin: 18px 0;
        padding: 12px;
        border-radius: 100px;
        border: 1px solid var(--color-border);
    }

    footer>.flex ul.info {
        width: 100%;
    }

    footer>.flex .copy {
        width: 100%;
        margin-top: 12px;
        text-align: right;
    }
}

@media screen and (max-width: 960px) {
    .slide-controller .num {
        font-size: var(--font-l);
    }

    .contents-wrap {
        padding: 15px;
        padding-top: 36px;
    }

    .contents-wrap .inner {
        flex-direction: column;
        justify-content: center;
        gap: 24px;
    }

    .contents-wrap .inner .calendar-wrap {
        position: relative;
        min-width: inherit;
        padding-bottom: 24px;
        border-bottom: 1px solid var(--color-border);
    }

    .contents-wrap .inner .calendar-wrap .calendar-top {
        flex-wrap: wrap;
    }

    .contents-wrap .inner .calendar-wrap .calendar-top .category {
        width: 100%;
        margin-bottom: 4px;
    }

    .contents-wrap .inner .calendar-wrap .calendar>ul.cell>li ul li {
        justify-content: center;
    }

    .contents-wrap .inner .calendar-wrap .calendar>ul.cell>li ul li .point span {
        display: none;
    }

    .contents-wrap .inner .calendar-wrap .calendar>ul.cell>li.today button span::after {
        display: none;
    }

    .contents-wrap .inner .assignments-wrap {
        gap: 12px;
        padding-bottom: 0;
    }

    .contents-wrap .inner .assignments-wrap .box .slide-controller .num {
        font-size: var(--font-l);
    }

    .report li ul li dl:first-child {
        width: 100%;
    }

    .inner.learning-history .tab-contents>.daily {
        flex-direction: column;
    }

    .inner.learning-history .tab-contents .daily .calendar-wrap .calendar>ul.cell>li {
        height: 40px;
    }

    .inner.learning-history .tab-contents .daily .calendar-wrap .calendar>ul.cell>li button ul li {
        width: 10px;
        height: 10px;
    }

    .inner.learning-history .tab-contents .daily .calendar-wrap .calendar>ul.cell>li button ul {
        gap: 2px;
    }

    .inner.learning-history .tab-contents .month .calendar-wrap .table thead {
        display: none;
    }

    .inner.point-ranking .tab-contents {
        flex-direction: column;
    }

    .inner.point-ranking .tab-contents .user-data {
        width: 100%;
    }

    .inner.point-ranking .tab-contents .user-data .box>.flex:first-child {
        margin-bottom: 16px;
        padding-bottom: 16px;
    }

    .inner.point-ranking .tab-contents .user-data .box>.flex img {
        width: 28px;
        height: 28px;
    }

    .inner.point-ranking .tab-contents .user-data .box>.flex {
        gap: var(--gap);
    }

    .inner.point-ranking .tab-contents .user-data .box>.flex>div {
        display: flex;
        gap: 8px;
        width: 100%;
    }

    .inner.point-ranking .tab-contents .user-data .box>.flex dl {
        width: 100%;
        margin: 0;
    }

    .table.read thead tr th.data .flex {
        width: calc((100% - 18px) / 3);
    }

    .inner.inquiry .write {
        flex-direction: column;
        height: auto;
    }

    .inner.inquiry:has(> .write) {
        height: auto;
    }

    .inner.inquiry .write .box {
        width: 100%;
    }

    .inner.inquiry .write .submit-wrap>.btn.white {
        margin: 0 auto;
        font-size: var(--font-r);
    }

    .inner.inquiry .write .submit-wrap>label {
        width: 100%;
    }

    .inner.inquiry .write .box {
        height: auto;
        padding: 10px;
    }

    .inner.inquiry .write .box .label:not(:last-child) {
        margin-bottom: 12px;
    }

    .inner.inquiry .write .submit-wrap textarea {
        height: 240px;
    }

    .inner.inquiry .write .submit-wrap .file {
        width: 50%;
    }

    .inner.inquiry .write .submit-wrap .file .flex span {
        width: calc(100% - 104px);
    }

    /* popup */
    .m-header {
        right: 0;
        top: 0;
        border-radius: 0;
        width: 100%;
        max-width: inherit;
        height: 100dvh;
        max-height: inherit;
        opacity: 1;

        &.act {
            animation: none;
        }
    }

    .m-icn-menu.act {
        top: 20px;
        right: 20px;
    }

    /* popup end */
}

@media screen and (max-width: 748px) {
    .my-info .blue-box {
        flex-direction: column;
    }
}

@media screen and (max-width: 540px) {
    .popup.assignment {
        padding: 18px;
    }

    .audio-wrap .c-audio .sound .range-wrap {
        width: 84px;
    }

    .audio-wrap .c-audio .sound {
        gap: 4px;
        font-size: 1.6rem;
    }

    .inner.point-ranking .tab-contents .rank-box ul.flex {
        flex-direction: column;
    }

    .inner.point-ranking .tab-contents .rank-box ul.flex li {
        display: flex;
        align-items: center;

        &:nth-child(1) {
            order: 1;
        }

        &:nth-child(2) {
            order: 2;
        }

        &:nth-child(3) {
            order: 3;
        }
    }

    .inner.point-ranking .tab-contents .rank-box ul.flex li>img:nth-child(1) {
        width: 64px;
        height: 64px;
    }

    .inner.point-ranking .tab-contents .rank-box ul.flex li .box {
        display: flex;
        align-items: center;
        gap: 8px;
        padding: 8px;
        text-align: left;
    }

    .inner.point-ranking .tab-contents .rank-box ul.flex li .box>span {
        position: static;
        transform: translate(0);
        display: block;
        border-radius: 6px;
        text-align: center;
    }

    .inner.point-ranking .tab-contents .rank-box ul.flex li .box .data b {
        font-size: var(--font-l);
    }

    .inner.point-ranking .tab-contents .rank-box ul.flex li .box .point {
        margin-left: auto;
    }

    .table.read thead tr th.data .flex {
        width: calc((100% - 8px) / 2);
    }

    .inner.inquiry .write .submit-wrap .file {
        width: 90%;
    }

    .inner.inquiry .write .submit-wrap .file .flex span {
        width: 100%;
        margin-bottom: 0;
        padding: 12px 14px;
    }

    .inner.inquiry .write .submit-wrap .file .flex .btn {
        padding: 12px 16px;
    }
}

@media screen and (max-width: 450px) {
    .m-icn-menu {
        width: 28px;
        height: 28px;
    }

    .m-nav ul li a {
        font-size: var(--font-s);
    }

    .m-icn-menu span {
        height: 2px;
    }

    .dataTables_paginate+.btn.write {
        width: 100%;
        margin-top: 24px;
    }

    .popup.letter .read .btn-wrap {
        flex-direction: column;
    }

    .popup.letter .read .btn-wrap .btn {
        width: 100%;
    }

    .page-title .blue-box {
        gap: 8px;
    }

    .inner.point-ranking .tab-contents .user-data .box,
    .inner.point-ranking .tab-contents .rank-box {
        padding: 10px;
    }

    .inner.point-ranking .tab-contents .user-data table {
        font-size: var(--font-s);
    }

    .inner.point-ranking .tab-contents .user-data table tr :where(th, td) {
        padding: 8px;
    }

    .inner.point-ranking .tab-contents .user-data .box>.flex {
        gap: 8px;
    }
}

@media screen and (max-height: 900px) {
    header .logo {
        margin-top: 15px;
    }

    header .util ul {
        margin: 10px auto;
        margin-bottom: 30px;
        padding-top: 10px;
    }

    header .btn-wrap {
        margin-top: 10px;
        padding-top: 10px;
    }

    header .header-bottom dl {
        margin-bottom: 15px;
    }

    header .header-bottom {
        padding: 15px;
    }

    header .header-bottom .period-wrap {
        padding-top: 15px;
    }
}